:root {
    --primary-color: oklch(77.7% 0.152 181.912);
    --primary-soft-color: oklch(70.4% 0.14 182.503);
    --background-color: white;
    --text-color: black;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-icon {
    padding: 0.5rem;
    display: grid;
    place-items: center;
}

.btn:hover {
    background-color: var(--primary-soft-color);
}

.input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.25rem;
    font-size: 14px;
    outline-color: var(--primary-soft-color);
    font-family: inherit;
    resize: vertical;
    min-height: 2.1rem;
}

.label {
    font-size: 14px;
}


.lm-pages {
    position: relative;
}

.lm-page {
    margin-inline: auto;
    max-width: 500px;
    padding: 0 0 60px;
}

.lm-toolbar {
    background-color: var(--background-color);
}